@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --color-primary: {
        '50': '#f2f9fd',
        '100': '#e3f1fb',
        '200': '#c1e4f6',
        '300': '#8aceef',
        '400': '#4cb6e4',
        '500': '#259dd2',
        '600': '#1679ab',
        '700': '#146590',
        '800': '#145578',
        '900': '#164764',
        '950': '#0f2e42',
    };
      --color-secondary: #074173,
      --primary-color: #ffffff,
    }
    
  }

  @layer components {
    .btn{
      @apply px-2 py-2 bg-primary rounded-md text-white;
    }
    .transition-1{
      @apply transition-all duration-300 ease-out;
    }
    
    .transition-2{
      @apply transition-all duration-500 ease-out;
    }
    .product-offer-item {
      @apply shadow-sm hover:shadow-lg lg:px-40 px-0 py-20;
    }
    .tp-product-offer-item .tp-product-content {
      @apply px-40 py-20 pb-30;
    }
    .product-offer-item .product-action {
      bottom: 70px;
    }
    .product-badge {
      @apply absolute top-4 right-5 z-[1];
    }
    .product-badge span {
      @apply font-medium text-sm leading-none text-white bg-primary rounded inline-block px-2 py-1 capitalize;
    }
    .product-action {
      @apply absolute right-0 bottom-4 z-[1] invisible opacity-0;
    }
    .product-action-btn {
      @apply relative inline-block w-10 h-10 text-center leading-10 text-2xl text-black bg-white border border-primary hover:text-white hover:bg-primary hover:border-primary;
    }
    .submenu {
      @apply min-w-[200px] bg-white z-50  shadow-lg p-12 px-6 pb-20 transform origin-top transition duration-100;
    }
    .category-menu-btn{
      @apply font-medium text-base text-white bg-primary w-full px-12 py-4 text-left relative;
    }

    .has-dropdown{
      @apply hover:text-primary mx-auto my-4;
    }

    .nav-link{
      @apply text-lg px-4 py-2 relative cursor-pointer  active:bg-primary-100;
    }
    .profile-count{
      @apply absolute top-0 right-[-8px] w-6 h-6 leading-5 border-2 border-white bg-primary text-white rounded-full text-center text-xs font-medium;
    }
    .tab-pane{
      @apply hidden active:block;
    }
    .active{
      @apply block bg-primary-50 text-primary-500;
    }
    .activeTab {
      @apply block transition-1;
    }
  }

  @layer utilities {
   /* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.profile__input{
  @apply px-2
}
.stary::after { 
position: absolute;
content: "";
left: 0;
top: 8px;
width: 4px;
height: 4px;
border-radius: 50%;
background-color: #A8ACB0;
}

.breadcrumb__list span {
  font-weight: 400;
  font-size: 16px;
  position: relative;
}

.breadcrumb__list span:not(:last-child) {
  padding-right: 12px;
  margin-right: 5px;
}
.coupon-border::before {
  bottom: auto;
  top: -13px;
  transform: translateX(50%) scale(1, -1);
}

.coupon-border::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #fff;
  bottom: -13px;
  right: 50%;
  z-index: 1;
  border: 1px solid rgb(var(--color-gray-200) / 1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
}


.coupon-border::after {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #fff;
  bottom: -13px;
  right: 50%;
  z-index: 1;
  border: 1px solid rgb(var(--color-gray-200) / 1);
  transform: translateX(50%);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 50%, 0 50%);
}

.coupon-countdown{
  flex: 0 0 32%;
  & ul li:not(:last-child)::after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 17px;
    content: "";
    background-color: #ebebeb;
  }
}


.breadcrumb__list span:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #A8ACB0;
  border-radius: 50%;
}

.login-mail::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 12px;
  width: 100%;
  height: 1px;
  background-color: #E0E2E3;
  z-index: -1;
}

.profile__input1{
  @apply w-full h-10 leading-4 px-10 border border-gray-200 bg-white text-black;
}
.profile-input-box {
  @apply relative mb-8;
}
.profile-input-box input{
  @apply w-full border bg-white text-sm ;
}

.profileInputArea {
  @apply h-14 bg-white border text-sm text-black;
}

.profile_Notification .form-check-label{
  @apply text-base ml-2 hover:cursor-pointer text-black;
}

.profile_ticket table th{
  @apply text-black border-white shadow-none;
}
.breadcrumb__list span:not(:last-child)::after {
  position: absolute;
  content: "";
  right: 0;
  top: 50%;
  width: 4px;
  height: 4px;
  background-color: #A8ACB0;
  border-radius: 50%;
}

.nav-tabs, .nav-link{
@apply p-0 m-0 border-none;
}

.profile-input-title label{
  @apply text-sm text-black absolute -top-2 left-5 py-1 bg-white leading-4;
}
.address-content p{
  @apply text-sm mb-3;
}

.address-content p span{
  @apply text-black font-semibold mr-2;
}

.nav-link::after {
  position: absolute;
  content: "";
  left: auto;
  right: 0;
  bottom: -1px;
  width: 0%;
  height: 2px;
  background-color: var(--tp-common-black);
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -ms-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
}


/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}

  